body > footer {
	z-index: 10;
	background: map-deep($colors, "brand");
	color: #fff;

	padding: 3vh 2vw;

	font-size: 0.8rem;

	.row-container {
		display: grid;
		grid-template-columns: min-content max-content max-content 1fr;
		grid-template-rows: 100%;
		grid-template-areas: "foot_logo foot_nav foot_social foot_copyright";
		grid-column-gap: 3em;

		padding: 0;

		& > * {
			align-self: center;
		}

		@media (max-width: map-deep($widths, "small")) {
			display: block;
			text-align: center;
		}
	}

	.logo {
		grid-area: foot_logo;
		height: 99%;
		width: 200px;

		a,
		img {
			display: block;
		}
		img {
			height: 100%;
			width: auto;
		}
		@media (max-width: map-deep($widths, "small")) {
			img {
				height: auto;
				width: 60%;
				margin: 0 auto 1.75em;
			}

			width: 100%;
			margin: 0 auto 1em;
			text-align: center;
		}
	}

	a {
		color: inherit;
		text-decoration: none;

		@include hover {
			color: inherit;
			text-decoration: underline;
		}
	}

	nav.menu {
		grid-area: foot_nav;

		ul,
		li {
			list-style: none;
			margin: 0;
			padding: 0;
		}

		& > ul {
			column-count: 4;
			column-gap: 0.25em;
			height: 100%;

			li {
				display: block;
				margin: 0 1em 0.25em 0;
				overflow: hidden;
			}

			@media (max-width: map-deep($widths, "small")) {
				column-gap: 0;
				column-count: auto;
				font-size: 0.95rem;

				li {
					display: inline-block;
					margin: 0.5em 0.75em;
				}
			}
		}

		li.ot-sdk-show-settings {
			cursor: pointer;
			@include hover {
				text-decoration: underline;
			}
		}
	}

	.social {
		grid-area: foot_social;
	}

	.copyright {
		grid-area: foot_copyright;
		text-align: right;

		@media (max-width: map-deep($widths, "small")) {
			margin-top: 1em;
			text-align: center;
		}
	}
}
