main.page {

	font-size: 1rem;

	.post-edit-link {
		position: absolute;
		right: 0;
		z-index: 999999;
	}

	header {
		position: relative;
		margin: 1em 0 1.5em;

		.archive & {
			margin: 1em 0;
		}

		span {
			//display: grid;
			margin: 0 auto;
		}

		&.has_image {
			position: relative;
			margin: 0 0 5vh;
			background-position: center center;
			background-size: cover;
			width: 100%;
			display: flex;

			& > * {
				align-self: center;
				justify-self: center;
			}

			&::before {
				display: inline-block;
				content: "";
				width: 1px;
				margin-left: -1px;
				height: 0;
				padding-top: 26%;
				vertical-align: middle;
				float: left;
			}

			&.background_top {
				background-position: center top;
			}
			&.background_bottom {
				background-position: center bottom;
			}

			span {
				padding: 1em;
				color: #fff;
				text-shadow: 
					0 0 2em #000,
					0 0 1em #000,
					1px 1px 0 rgba(0,0,0,0.8);

				&::after { /* to clear float */
					content: "";
					display: table;
					clear: both;
					background: none;
					height: 0;
				}

			}
			h1, h2 {
				color: inherit;
			}

			h1 {
				margin: 0;
				font-size: 2em;
				text-transform: uppercase;

				&::after {
					display: none;
				}
			}
		}

		h1 {
			position: relative;
			color: map-deep($colors, 'highlight');
			margin: 0 auto;
			padding: 0 1em;
			line-height: 1.1;
			text-align: center;
			
			/*
			&::after {
				display: block;
				content: "";
				background: map-deep($colors, "highlight");

				position: absolute;
				width: 30%;
				height: 2px;
				left: 50%;
				bottom: -2vh;
				transform: translateX(-50%);
			}
			*/
		}

		h2 {
			margin: 1em auto .5em;
			padding: 0 1em;
			font-size: 1.4em;
			font-weight: bold;
			text-align: center;

			.archive & {
				margin: 0 0 .25em;
				padding: 0;
				line-height: 1.3;
				text-align: left;
			}
		}

		h3 {
			margin: 0 auto 1vh;
			padding: 0 1em;
			color: #666;
			font-size: 0.9em;
			font-weight: bold;
			text-align: center;

			.arrow {
				display: inline-block;
				width: .7em;
				height: auto;
				vertical-align: baseline;
			}

			a {
				color: inherit;
				text-decoration: none;

				transition: color .2s;

				&:hover {
					color: map-deep($colors, 'highlight');
				}
			}
		}

		time {
			font-size: 0.85em;
		}
	}

	.body {
		margin-bottom: 2em;
		line-height: 1.3;

		p:last-child {
			margin-bottom: 0;
		}

		h1, h2, h3, h4, h5, h6 {
			font-weight: bold;
			line-height: 1.2;
			margin: 0 0 0.5em;
		}
		h1 {
			font-size: 2em;
		}
		h2 {
			font-size: 1.7em;
		}
		h3 {
			font-size: 1.4em;
		}
		h4 {
			font-size: 1.2em;
		}
		h5 {
			font-size: 1em;
		}
		h6 {
			font-size: 0.8em;
		}

		figure {
			margin: 0;

			&.aligncenter {
				margin: 0 auto;
			}
		}

		.full-width {
			width: 100vw;
			position: relative;
			left: 50%;
			right: 50%;
			margin-left: -50vw;
			margin-right: -50vw;

			@media (max-width: map-deeep($widths, 'medium')) {
				padding: 0 1em;
			}
		}

		.no-link-underline a {
			text-decoration: none;
		}

		.has-text-color {
			&.has-white-color {
				color: #fff;
			}
			&.has-black-color {
				color: #000;
			}
			&.has-grey-color {
				color: #888;
			}
			&.has-light-grey-color {
				color: #d6d6d6;
			}
			&.has-cumulus-dark-grey-color {
				color: #333;
			}
			&.has-cumulus-blue-color {
				color: map-deep($colors, 'brand');
			}
			&.has-cumulus-light-blue-color {
				color: map-deep($colors, 'highlight');
			}
			&.has-wwopn-purple-color {
				color: #6a2774;
			}
			&.has-wwopn-light-purple-color {
				color: #a33cb3;
			}

		}

		.has-background-color {
			&.has-white-background-color {
				background-color: #fff;
			}
			&.has-black-background-color {
				background-color: #000;
			}
			&.has-grey-background-color {
				background-color: #888;
			}
			&.has-light-grey-background-color {
				background-color: #d6d6d6;
			}
			&.has-cumulus-dark-grey-background-color {
				background-color: #333;
			}
			&.has-cumulus-blue-background-color {
				background-color: map-deep($colors, 'brand');
			}
			&.has-cumulus-light-blue-background-color {
				background-color: map-deep($colors, 'highlight');
			}
			&.has-wwopn-purple-background-color {
				background-color: #6a2774;
			}
			&.has-wwopn-light-purple-background-color {
				background-color: #a33cb3;
			}

		}

		.has-small-font-size {
			font-size: 0.5em;
		}
		.has-medium-font-size {
			font-size: 0.85em;
		}
		.has-large-font-size {
			font-size: 1.25em;
		}
		.has-larger-font-size {
			font-size: 1.5em;
		}

		figure.circle-mask img,
		img.circle-mask {
			border-radius: 100%;
			overflow: hidden;
		}

		.negative-margin-top-1em {
			margin-top: -1em;
		}
		.negative-margin-top-2em {
			margin-top: -2em;
		}

		// Fix padding on UGB Cards
		.ugb-feature-grid .ugb-feature-grid__item {
			padding: 1em !important;
		}
		// Remove absurd margin on UGB Buttons
		.ugb-button-wrapper {
			margin: 0 -.5em;
		}

		// remove underline on kadence block link wrappers
		.kt-blocks-info-box-link-wrap {
			text-decoration: none;
		}
		// Max width for kadence info block images
		.kt-blocks-info-box-media {
			width: 100%;
		}
		.kt-blocks-info-box-media img {
			max-width: 100%;
			height: auto;
		}

		// Allow audio player to get smaller
		.wp-block-audio audio {
			min-width: 150px;
		}

		// RSS Aggregator styles
		.wp-rss-aggregator {
			font-size: 0.8em;

			ul {
				list-style: none;
				margin: 0;
				padding: 0;
			}

			.feed-source {
				display: none;
			}
		}

		// Kadence block top divider fix on mobile
		@media (max-width: map-deep($widths, 'small')) {
			.kt-row-layout-top-sep {
				top: -1px;
			}
			.kt-row-layout-bottom-sep {
				bottom: -1px;
			}
		}

	}

	body.full-width & .row-container {
		margin-left: 0;
		margin-right: 0;
		padding-left: 0;
		padding-right: 0;
		max-width: 100%;
	}
	body.full-width-padded & .row-container {
		max-width: 100%;
	}
	body.large-width & .row-container {
		max-width: map-deep($widths, 'max') * 1.5;
	}

	// option to disable body margin
	&.no-bottom-margin .body {
		margin-bottom: 0;
	}

	// Allow reversing columns on mobile
	.reverse-columns-on-mobile {
		flex-wrap: wrap-reverse;
	}

	// remove bottom margin on footer pages
	.row-container + .body,
	.cards + .body,
	.body + .body {
		margin-bottom: 0;
	}
}

@import "front-page";
@import "cards";
@import "footers/_";