.cards {
	display: flex;
	flex-wrap: wrap;
	gap: 1em;
	justify-content: center;
	padding: 0 2em 1em;
	margin-top: 0;

	background-image: url('../images/bg-blue_wave.svg');
	background-position: center 4em;
	background-size: cover;
	background-repeat: no-repeat;

	font-size: 1em;
	text-align: center;

	@media (max-width: map-deep($widths, 'small')) {
		padding: 0.5em;
	}

	&.one-columns {
		padding: 0 30vw 1em;
		.card {
			flex: 0 0 calc(100% - 4em);
		}
	}
	&.two-columns {
		padding: 0 20vw 1em;
		.card {
			flex: 0 0 calc(50% - 4em);
		}
	}
	&.three-columns {
		padding: 0 10vw 1em;
		.card {
			flex: 0 0 calc(33% - 4em);
		}
	}
	&.four-columns {
		padding: 0 10vw 1em;
		.card {
			flex: 0 0 calc(25% - 4em);
			font-size: 0.6em;
		}
	}
	&.five-columns .card {
		flex: 0 0 calc(20% - 4em);
		font-size: 0.5em;
	}
	&.six-columns .card {
		flex: 0 0 calc(16.666666666667% - 4em);
		font-size: 0.4em;
	}
	@media (max-width: map-deep($widths, 'medium')) {
		&.one-columns,
		&.two-columns,
		&.three-columns,
		&.four-columns,
		&.five-columns,
		&.six-columns {
			padding: 0 1em 1em;
			.card {
				flex: 0 0 calc(50% - 2em);
			}
		}
	}
	@media (max-width: map-deep($widths, 'small')) {
		&.one-columns,
		&.two-columns,
		&.three-columns,
		&.four-columns,
		&.five-columns,
		&.six-columns {
			padding: 0 0 1em;
			.card {
				//flex: 0 0 calc(100% - 2em);
			}
		}
	}

	&.no-link-label .card {
		padding: 0;
	}


	.card {
		display: grid;
		position: relative;
		max-width: 100%;
		margin: 1em;
		padding: 0 0 3.5em;
		overflow: hidden;

		background: #fff;
		box-shadow: 0 0 2em rgba(0,0,0,0.2);
		//border: 1px solid rgba(map-deep($colors, 'brand'), 0.2);
		border-radius: 0.6em;

		color: #444;
		text-decoration: none;

		font-size: 0.65em;

		transition: transform .15s ease-in-out,
					box-shadow .2s ease-in-out,
					color .1s ease-in-out .1s,
					border-color .1s ease-in-out .05s;

		& > * {
			align-self: center;
		}

		@at-root .cards a.card:hover {
			box-shadow: 0 0 2em rgba(0,0,0,0.3);
			border-color: rgba(map-deep($colors, 'brand'), 0.8);
			transform: scale(1.03);
			transform-origin: center center;
		}

		@media (max-width: map-deep($widths, 'small')) {
			//max-width: calc(50vw - 3em);
			font-size: 0.5rem;
			margin: 0.5em;
		}

		img {
			display: block;
			align-self: start;
			max-width: calc(100% + 2px);
			height: auto;
			margin: 0 0 1em;

			&.icon {
				align-self: center;
				max-width: 50%;
				border-radius: 50%;
				margin: 1em auto;
			}
			&.padded {
				margin: 1em;
			}
		}

		h3 {
			margin: 1em 1em .5em;
			font-size: 1.8em;
			font-weight: 400;
			color: #333;
		}

		img + h3 {
			margin-top: 0;
		}

		.body {
			margin: 0 1em 1em;
		}

		.permalink {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			flex-wrap: nowrap;

			position: absolute;
			bottom: 1em;
			right: 1em;

			padding: .5em .75em;
			overflow: hidden;
			
			background-color: rgba(map-deep($colors, 'highlight'), 0.1);
			border-radius: 2em;
			color: map-deep($colors, 'brand');

			font-size: 1.2em;
			line-height: 1;
			text-align: right;
			white-space: nowrap;

			transition: all .2s ease-in-out .05s;

			@media (max-width: map-deep($widths, 'small')) {
				right: auto;
				left: 50%;
				transform: translateX(-50%);
			}

			span {
				max-width: 0;
				width: 100%;
				padding-right: 0;
			    overflow: hidden;
			    vertical-align: middle;
			    white-space: nowrap;
			    text-align: right;

			    transition: all .2s ease-in-out .2s;

				@at-root .cards a.card:hover .permalink span {
					max-width: 100%;
					padding-right: 0.5em;
				}

				@media (max-width: map-deep($widths, 'small')) {
					max-width: 100%;
					padding-right: 1em;
				}
			}

			.arrow {
				display: block;
				width: .75em;
				margin: 0;
			}
		}
	}
}