.home {
	
	.scroll-down-arrow {
		display: none;
		content: '';
		position: absolute;
		z-index: 10;
		left: 50%;
		width: 2.25em;
		height: 2.25em;
		opacity: 0;
		//mix-blend-mode: difference;
		animation: scroll-down-arrow 3s ease-in 0s infinite;
		transform: translate(-50%, 0);

		/*
		&:after {
			display: block;
			content: '';
			position: relative;
			width: 100%;
			height: 100%;
			border-left: .5em solid #fff;
			border-bottom: .5em solid #fff;
			border-radius: 0 0 0 .25em;
			//box-shadow: -2px 2px 3px rgba(0,0,0,0.4);
			transform: rotate(-45deg);
		}
		*/
		&:before,
		&:after {
			content:"";
			position: absolute;
			background: #fff;
			border-radius: 1em;
			display: block;
			top: -5%;
			height: 110%;
			width: 20%;
			transform: rotate(55deg);
		}
		&:before {
			left: 80%;
		}
		&:after {
			right: 80%;
			transform: rotate(-55deg);
		}

		@keyframes scroll-down-arrow {
			0% {
				transform: translate(-50%, -50%);
				opacity: 0;
			}
			20% {
				transform: translate(-50%, -10%);
				opacity: 1;
			}
			24% {
				transform: translate(-50%, -25%);
			}
			28% {
				transform: translate(-50%, -15%);
			}
			60% {
				transform: translate(-50%, 100%);
				opacity: 0;
			}
		}
	}

	.hero {
		background-color: map-deep($colors, 'highlight');
		position: relative;
		z-index: 1;
		width: 100%;
		//height: 89vh;
		//padding-bottom: 13vh;
		padding-bottom: 56.25%;

		.video-container {
			position: absolute;
			z-index: 2;
			overflow: hidden;
			width: 100%;
			height: 100%;
		}

		video {
			position: fixed;
			left: 50%;
			//bottom: 0;
			//min-width: 100%;
			//min-height: 100%;
			width: 100%;
			transform: translateX(-50%);
			object-position: center;
		}
	
		.ticker-container {
			position: absolute;
			bottom: 0;
			z-index: 2;

			width: 100%;
			height: 13vh;

			padding: 4vh 0;

			background: map-deep($colors, "bg", "light");

			font-size: 5vh;
			line-height: 1;
			white-space: nowrap;

			img {
				display: inline-block;
				max-height: 3vh;
				margin: 1vh 0;
				width: auto;
				vertical-align: bottom;
			}
		}

	}

	main {
		background: #fff;
		padding: 3vh 0;
		box-shadow: 0 0 1em rgba(0,0,0,0.2);

		line-height: 1.4;

		p:last-child {
			margin-bottom: 0;
		}

		figure {
			margin: 0;
		}

		.wp-block-column {
			align-self: center;
			font-size: 0.8em;

			h2 {
				font-size: 2.5em;
			}
		}

		.full-width {
			width: 100vw;
			position: relative;
			left: 50%;
			right: 50%;
			margin-left: -50vw;
			margin-right: -50vw;

			@media (max-width: map-deeep($widths, 'medium')) {
				padding: 0 1em;
			}
		}

		// option to disable body margin
		&.no-bottom-margin,
		&.no-bottom-margin .body {
			margin-bottom: 0;
			padding-bottom: 0;
		}

	}

}

@keyframes home-ticker {
  0% {
    -webkit-transform: translateX(10%);
    transform: translateX(-10%);
    visibility: visible;
  }

  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
