.home {
	
	.scroll-down-arrow {
        cursor: pointer;
        display: none;
        position: absolute;
        //bottom: 80px;
 
        @at-root body.admin-bar.has_fullscreen_header .scroll-down-arrow {
            //bottom: 48px;
        }

        left: calc(50% - 15px);
        z-index: 20;

        width: 30px;
        height: 50px;
        //margin-bottom: -15px;

        background: linear-gradient(
            to bottom,
            RGBA(255,255,255,0.3) 0%,
            RGBA(255,255,255,1) 90%
        );
        border: 2px solid #fff;
        box-shadow: 0 2px 3px RGBA(0,0,0,0.5);
        border-radius: 25px;

        &::before {
            content: 'Scroll Down';
            position: absolute;
            bottom: 100%;
            left: 50%;
            transform: translateX(-50%);
            width: 100px;
            width: max-content;
            margin-bottom: 1em;
            padding: .3em .5em;

            font-size: 11.5px;
            text-align: center;
            //text-shadow: 0 2px 1px RGBA(0,0,0,0.5);
            line-height: 1;

            background: rgba(0,0,0,0.4);
            color: #fff;
        }
        &::after {
            position: absolute;
            display: block;
            content: '';
            width: 8px;
            height: 8px;
            background: #fff;
            left: calc(50% - 4px);
            top: 8px;
            border-radius: 4px;
            box-shadow: 0 2px 3px RGBA(0,0,0,0.8);
            animation-duration: 1.5s;
            animation-iteration-count: infinite;
            animation-name: scroll-down-arrow;
        }
    }
    
    @keyframes scroll-down-arrow {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
            transform: translateY(300%);
        }
    }
	/*
	.scroll-down-arrow {
		display: none;
		content: '';
		position: absolute;
		z-index: 10;
		left: 50%;
		width: 2.25em;
		height: 2.25em;
		opacity: 0;
		//mix-blend-mode: difference;
		animation: scroll-down-arrow 3s ease-in 0s infinite;
		transform: translate(-50%, 0);

		&:before,
		&:after {
			content:"";
			position: absolute;
			background: #fff;
			border-radius: 1em;
			display: block;
			top: -5%;
			height: 110%;
			width: 20%;
			transform: rotate(55deg);
		}
		&:before {
			left: 80%;
		}
		&:after {
			right: 80%;
			transform: rotate(-55deg);
		}

		@keyframes scroll-down-arrow {
			0% {
				transform: translate(-50%, -50%);
				opacity: 0;
			}
			20% {
				transform: translate(-50%, -10%);
				opacity: 1;
			}
			24% {
				transform: translate(-50%, -25%);
			}
			28% {
				transform: translate(-50%, -15%);
			}
			60% {
				transform: translate(-50%, 100%);
				opacity: 0;
			}
		}
	}
	*/

	.hero {
		background-color: map-deep($colors, 'highlight');
		position: relative;
		z-index: 1;
		width: 100%;
		height: calc(100vh - 100px);
		//padding-bottom: 56.25%;

		.video-container {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 2;
			clip: rect(0, auto, auto, 0);
		}

		video {
			position: absolute;
			top: 50%;
			left: 50%;
			//bottom: 0;
			//min-width: 100%;
			//min-height: 100%;
			object-position: center;
			object-fit: cover;
			width: auto;
			height: 100%;
			min-height: 100%;
			min-width: 100%;
			transform: translate(-50%, -50%);
			object-position: center;
		}
	
		.ticker-container {
			position: absolute;
			bottom: 0;
			z-index: 2;

			width: 100%;
			height: 13vh;

			padding: 4vh 0;

			background: map-deep($colors, "bg", "light");

			font-size: 5vh;
			line-height: 1;
			white-space: nowrap;

			img {
				display: inline-block;
				max-height: 3vh;
				margin: 1vh 0;
				width: auto;
				vertical-align: bottom;
			}
		}

	}

	main {
		background: #fff;
		padding: 3vh 0;
		box-shadow: 0 0 1em rgba(0,0,0,0.2);

		line-height: 1.4;

		p:last-child {
			margin-bottom: 0;
		}

		figure {
			margin: 0;
		}

		.wp-block-column {
			align-self: center;
			font-size: 0.8em;

			h2 {
				font-size: 2.5em;
			}
		}

		.full-width {
			width: 100vw;
			position: relative;
			left: 50%;
			right: 50%;
			margin-left: -50vw;
			margin-right: -50vw;

			@media (max-width: map-deeep($widths, 'medium')) {
				padding: 0 1em;
			}
		}

		// option to disable body margin
		&.no-bottom-margin,
		&.no-bottom-margin .body {
			margin-bottom: 0;
			padding-bottom: 0;
		}

	}

}

@keyframes home-ticker {
  0% {
    -webkit-transform: translateX(10%);
    transform: translateX(-10%);
    visibility: visible;
  }

  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
