@font-face {
  font-family: 'fa-social';
  src: url('../../static/social/fa-social.eot?84430404');
  src: url('../../static/social/fa-social.eot?84430404#iefix') format('embedded-opentype'),
       url('../../static/social/fa-social.woff2?84430404') format('woff2'),
       url('../../static/social/fa-social.woff?84430404') format('woff'),
       url('../../static/social/fa-social.ttf?84430404') format('truetype'),
       url('../../static/social/fa-social.svg?84430404#fa-social') format('svg');
  font-weight: normal;
  font-style: normal;
}
