@import 'variables';

body .editor-styles-wrapper {

	color: #222;
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	font-size: 18px;

	.edit-post-visual-editor,
	.editor-writing-flow .wp-block textarea,
	.editor-writing-flow .wp-block .wp-block-freeform,
	.editor-rich-text p,
	.editor-post-title__input,
	.wp-block-quote__citation {
	    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	}

	.has-text-color {
		&.has-white-color {
			color: #fff;
		}
		&.has-black-color {
			color: #000;
		}
		&.has-grey-color {
			color: #888;
		}
		&.has-light-grey-color {
			color: #d6d6d6;
		}
		&.has-cumulus-dark-grey-color {
			color: #333;
		}
		&.has-cumulus-blue-color {
			color: map-deep($colors, 'brand');
		}
		&.has-cumulus-light-blue-color {
			color: map-deep($colors, 'highlight');
		}
		&.has-wwopn-purple-color {
			color: #6a2774;
		}
		&.has-wwopn-light-purple-color {
			color: #a33cb3;
		}

	}

	.has-background-color {
		&.has-white-background-color {
			background-color: #fff;
		}
		&.has-black-background-color {
			background-color: #000;
		}
		&.has-grey-background-color {
			background-color: #888;
		}
		&.has-light-grey-background-color {
			background-color: #d6d6d6;
		}
		&.has-cumulus-dark-grey-background-color {
			background-color: #333;
		}
		&.has-cumulus-blue-background-color {
			background-color: map-deep($colors, 'brand');
		}
		&.has-cumulus-light-blue-background-color {
			background-color: map-deep($colors, 'highlight');
		}
		&.has-wwopn-purple-background-color {
			background-color: #6a2774;
		}
		&.has-wwopn-light-purple-background-color {
			background-color: #a33cb3;
		}

	}

}
.acf-field.warning {
	background-color: #f5f0da;
}