.row {
	position: relative;
	overflow: hidden;
}

.row-container {
	padding: 0 5vw;
	margin: 0 auto;
	max-width: var(--cmls-width-max);
	position: relative;

	.pagination {
		margin-bottom: 2em;
	}
}

.header {
	overflow: hidden;
	position: relative;
	z-index: 6;
}
